.agent-collapse {
  --ant-collapse-header-padding: 0 16px;
  --ant-collapse-header-bg: #F7F7FA;
  --ant-collapse-content-bg: #F7F7FA;
  --ant-collapse-header-text-color: #333;
}

.agent-collapse .ant-collapse-header {
  font-weight: 500;
  border-bottom: 1px solid #F0F0F0;
  height: 48px;
  display: flex;
  align-items: center;
}

.agent-collapse .ant-collapse-content {
  border-bottom: 1px solid #F0F0F0;
}

.agent-collapse .ant-collapse-content-box {
  padding: 16px 30px 16px;
}

.agent-collapse .ant-collapse-header-text {
  font-size: 14px;
  font-weight: 700;
}
