/* ProfilePopover styles */
.profile-popover-tooltip {
  max-width: 300px;
}
.profile-popover-tooltip .ant-tooltip-inner {
  background: #fff;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
              0 3px 6px -4px rgba(0, 0, 0, 0.12),
              0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
/*
.profile-popover-tooltip .ant-tooltip-arrow-content {
  background: #fff;
}

.profile-popover-tooltip .ant-tooltip-content {
  position: relative;
}

.profile-popover-content {
  min-width: 300px;
}

.profile-popover-content .ant-avatar {
  border-radius: 50%;
}

.profile-popover-content a {
  color: inherit;
  text-decoration: none;
}

.profile-popover-content a:hover {
  color: inherit;
} */
